* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    background-color: #070f2b;
    color:white;
    height: 600px;
    width: 100%;
    /* border:2px solid red; */
}
.head-sec {
    /* border:2px solid magenta; */
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.logo {
    font-size: 2em;
    font-family: serif;
}
.head-list li {
    /* border: 2px solid green; */
    list-style: none;
    padding: 10px;
    margin-left: 40px;
    font-size: 1.3em;
}
.head-list li:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
    box-shadow:  0 0 10px rgba(241, 241, 241, 0.979);
    border-radius: 10px;
}
.head-list ul {
    display: flex;
}
#bars {
    display: none;
}

/* hero section is started  */
.hero {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 85px;
    color: white;
    height: 500px;
    width: 100%;
}
.hero img {
    height: 450px;
    width: 300px;
    border-radius: 50px;
    padding: 20px;
    border: 2px solid #535c91;
}
.hero img:hover {
    cursor: pointer;
    border-bottom: 2px solid #535c91;
    box-shadow:  0 0 10px rgba(241, 241, 241, 0.979);
    border-radius: 50px;
}
.brief-intro {
    border: 1px solid green;
    padding: 20px;
}
.brief-intro h1,h2,p,button {
    margin-bottom:20px;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.brief-intro h1 {
    font-style: italic;
    font-family: serif;
    font-size: 2rem;
}
.brief-intro p {
    font-size: 1.2rem;
    color: lightgray;
}







/* media qurey */
@media (min-width:319px) and (max-width:480px) {
    header {
        height: 300px;
        width: 480px;
    }
    .logo {
        font-size: 1.5em;
    }
    .head-list ul{
        display: none;
    }
    #bars {
        display:flex;
        font-size: 1.3em; 
        padding: 10px;
        margin-left: 70px;
    }
}