* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    background-color: #070f2b;
    color:white;
    height: 600px;
    width: 100%;
    border:2px solid red;
}
.head-sec {
    /* border:2px solid magenta; */
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.logo {
    font-size: 2em;
}
.head-list li {
    /* border: 2px solid green; */
    list-style: none;
    padding: 10px;
    margin-left: 40px;
    font-size: 1.3em;
}
.head-list ul {
    display: flex;
}

/* media qurey */